* {
    box-sizing: border-box;
}

table,
td {
    border: 2px solid lightslategray;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

td {
    padding: .5em;
}

button {
    padding: .5em;
    cursor: pointer;
}

.read {
    background-color: blue;
    color: white;
}

.update {
    background-color: orange;
    color: white;
}

.delete {
    background-color: red;
    color: white;
}

.create-new-book-btn{
    border: none;
    background-color:transparent;
    color: rgb(43, 168, 240);
}

.user-msg {
	position: fixed;
	bottom: -100px;
	right: 10px;

	background-color: #111;
    color: white;
	padding: 10px;
    transition: bottom 0.5s;
}

.user-msg.open {
	bottom: 10px;
}